.app {
  border-radius: 2px;
  height: 100%;
  background: #222;
  color: white;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-width: 400px;
  min-height: 600px;
}

.app textarea {
  width: 99%;
  height: 99%;
  resize: none;
  border: none;
  background-color: rgb(
    237,
    230,
    230
  ); /* For browsers that do not support gradients */
  background: repeating-linear-gradient(
    white,
    white 19px,
    rgb(101, 142, 231) 20px,
    rgb(101, 142, 231) 20px
  );
  line-height: 20px;
  font-family: FiraCode, Monaco, Helvetica, sans-serif;
}
